name: HACS

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: HACS Action
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
